{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@utils": "./utils",
          "@components": "./components",
          "@swiper": "./components/swiper",
          "@layout": "./components/layout",
          "@front": "./components/front",
          "@lib": "./lib",
          "@admin": "./components/admin",
          "@hook": "./hook",
          "@context": "./context",
          "@public": "./public"
        }
      }
    ]
  ]
}
