:root {
  //primary colors
  --color-secondary: #2589c7;
  --color-secondary-light: #4abaff;
  --color-secondary-dark: #0c507a;

  //secondary colors
  --color-primary: #c78426;
  --color-primary-light: #ffb44e;
  --color-primary-dark: #7a4700;
}
